<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hoang dep trai</title>
</head>
<body>
    <h1>Welcome chao may nhe</h1>
    <form>
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="Nhap ten">
                </td>
                <td>
                    Chọn ràng buộc
                    <section>
                        <option>Required</option>
                        <option>Range</option>
                        <option>Email</option>
                    </section>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>